RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Apache config
<FilesMatch ".(eot|ttf|otf|woff|php)">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>